@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Oswald:wght@700&family=Special+Gothic+Expanded+One&display=swap');
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #696969, #000000, #ffffff);
    font-family: sans-serif;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

.logo {
    color: midnightblue;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li a {
    margin-left: 30px;
    color: midnightblue;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #7ef3e1;
  box-shadow: 0 0 10px #7ef3e1;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
    transform: translateY(-3px) scale(2.2);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 
                 0 0 15px rgba(126, 243, 225, 0.6);
    color: blue;
}

.nav-links li a:hover::after {
  width: 100%;
}


.content-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.glass-content {
    width: 95%; 
    max-width: 1400px;
    padding: 60px;

    background: rgba(25, 25, 112, 0.5); 
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;

    color: white;
    min-height: 70vh;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    z-index: 1;
}

.glass-content::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: rgba(20, 20, 40, 0.8);
    backdrop-filter: blur(25px);
    border-radius: 26px;
    z-index: -1;
}

.glass-content::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    background: conic-gradient(transparent,blue,transparent 30%);
    animation: rotateGlow 4s linear infinite;
    z-index: -2;
}

@keyframes rotateGlow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.glass-content h1 {
    margin-top: 140px;
    font-size: 5rem;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 2px;
}

.glass-content p {
    font-size: 2rem;
    line-height: 1.4;
}