@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Oswald:wght@700&family=Special+Gothic+Expanded+One&display=swap');
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #4b0082, #000000, #191970);
    font-family: sans-serif;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

.startup-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startup-logo h1 {
    color: #00ffff;
    font-size: 200px;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 2px;
}

.startup-logo a {
    text-decoration: none;
    color: #00ffff;
    font-family: 'Archivo Black', sans-serif;
    font-size: 200px;
    letter-spacing: 2px;
    display: inline-block;
    text-shadow: 0 0 8px rgba(102, 241, 194, 0.6);
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.logo a {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Archivo Black', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li a {
    margin-left: 80px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.content-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.glass-content {
    width: 95%; 
    max-width: 1400px;
    padding: 40px 40px 80px 40px ;

    background: rgba(17,17,132, 0.5); 
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    animation: entranceAnimation 1.5s ease-out forwards;
    transition: transform 0.6s ease;

    border-radius: 20px;
    box-shadow: 0 0 10px rgba(102,241,194, 15), 0 0 30px rgba(102,241,194, 10),inset 0 0 15px rgba(102,241,194, 0.8);
    color: whitesmoke;
    min-height: 70vh;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: entranceAnimation 2.8s ease-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

.test-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.test-content {
    width: 1500px; 
    padding: 40px 40px 80px 40px ;

    background: rgba(17,17,132, 0.5); 
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    animation: entranceAnimation 1.5s ease-out forwards;
    transition: transform 0.6s ease;

    border-radius: 20px;
    box-shadow: 0 0 10px rgba(102,241,194, 15), 0 0 30px rgba(102,241,194, 10),inset 0 0 15px rgba(102,241,194, 0.8);
    color: whitesmoke;
    min-height: 70vh;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#test-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: entranceAnimation 2.8s ease-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
}


.glass-container {
    width: 100%; 
    height: 560px;
    margin: 50px auto;

    background: rgba(17,17,132, 0.5); 
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    animation: entranceAnimation 1.5s ease-out backwards;
    box-shadow: 0 0 10px rgba(102,241,194, 15), 0 0 30px rgba(102,241,194, 10),inset 0 0 15px rgba(102,241,194, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    align-items: center;
    gap: 40px;
    transition: transform 0.6s ease-in-out;
    justify-content: center;
}

.card {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid rgba(102,241,194, 0.5);
    box-shadow: 0 0 15px rgba(102,241,194, 0.8);
    transition: all 0.7s ease;
    cursor: pointer;
    flex-shrink: 0;
    opacity: 0.6;
    transform: scale(0.89);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#main-desc {
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 1.9rem;
}

#main-title {
    margin: 0 0 20px 0;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 0;
}

.glass-content h1 {
    margin-top: 140px;
    font-size: 5rem;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 2px;
}

.glass-content p {
    font-size: 2rem;
    line-height: 1.4;
    font-family: 'Times New Roman', sans-serif;
}

.next-btn, .back-btn {
    position: static;
    bottom: 30px;
    right: 30px;
    width: 200px;

    padding: 12px 25px;
    background: rgba(52,21,57, 0.5);
    border: 1px solid rgba(218,177,218, 10);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.button-group {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#infoSlide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 80vw;
    height: 40vw;
    background: rgba(255,255,255, 0.9);
    backdrop-filter: blur(20px);
    display: none;
    z-index: 100000;
    border: 4px solid blue;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    pointer-events: none;
    justify-content: center;
    align-items: center;
    color: #000000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#infoSlide.active {
    display: flex !important;
    opacity: 1 !important;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}

#infoSlide.active .slide-content {
    opacity: 1;
    transform: scale(1);
}

.slide-content {
    width: 100%;
    height: 100%;
    padding: 20px 50px 50px 50px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: flex-start;
    color: black;
    position: relative;

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.slide-content::-webkit-scrollbar {
    width: 9px;
}

.slide-content::-webkit-scrollbar-track {
    background: transparent;
}

.slide-content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Subtle grey that matches any theme */
    border-radius: 10px;
}


.close-btn {
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 40px;
    color: #191970;
    cursor: pointer;
    z-index: 101;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s ease;
}

.info-text { 
    width: 50%;
    padding-top: 10px;
}
.info-image { width: 40%; }

.info-image img {
    width: 100%;
    animation: float 4s ease-in-out infinite;
}

.info-text h1 {
    font-weight: 500;
    font-size: 70px;
    color: #4b0082;
    font-family: 'Alfa Slab One', sans-serif;
    margin-top: 0;
    margin-bottom: 2px;
}

.info-text h2 {
    margin-top: 0;
}

.info-text p {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.4;
}